<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa-brands fa-twitter"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa-brands fa-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa-brands fa-linkedin"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa-brands fa-github"></i></a>

        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">The Perfect knot</h6>
                    <p>theperfectknot.com is the one stop destination for your family wedding.
                        We give you the opportunity to give your wedding awesome and stress-free from our website.
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Wedding Utilities</h6>
                    <p><a href="" class="me-4 text-reset">Wedding halls</a></p>
                    <p><a href="" class="me-4 text-reset">Catering</a> </p>
                    <p><a href="" class="me-4 text-reset">Decorations</a></p>
                    <p><a href="" class="me-4 text-reset">Dj & music</a></p>
                    <p><a href="" class="me-4 text-reset">Photography</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">contact us</h6>
                    <p><i class="fa fa-home"></i> The Perfect Knot</p>
                    <p><i class="fa fa-envelope"></i> info@theperfectknot.com</p>
                    <p><i class="fa fa-phone"></i> +91 6381473908</p>

                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4">
        &copy; 2024 Copyright <a href="#" class="text-reset fw-bold">theperfectknot.in</a>
    </div>
</footer>