{% extends 'wedding/layouts/main.html' %}
{% block title %}
order page
{% endblock title %}
{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great Vibes">

{% endblock link %}

{% block content %}
<section class="bg-light py-4 my-5">
    <div class="card-header">
        <h4 class="mb-3" style="margin-top:10px; margin-left:60px; color:deeppink;"> Order Details
            <a href="{% url 'myorder' %}" class="btn btn-danger float-end"> <i class="fa fa-reply"> </i>Back</a>
        </h4>
        {% include 'wedding/inc/message.html' %}
        <hr style="border-color: #b8bfc2;">
        
    </div>
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Order Details</h4>
                                <hr>
                                <label class="mt-2" for="">Groom Name</label>
                                <div class="border p-1">{{order.gname}}</div>
                                <label class="mt-2" for="">Bride Name</label>
                                <div class="border p-1">{{order.bname}}</div>
                                <label class="mt-2" for="">Email-Address</label>
                                <div class="border p-1">{{order.email}}</div>
                                <label class="mt-2" for="">Occasion Date</label>
                                <div class="border p-1">{{order.occ_date}}</div>
                            </div>
                            <div class="col-md-6">
                                <h4>Shipping Details</h4>
                                <hr>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Vendor</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in orderitem %}
                                            
                                            <tr>
                                                <td>
                                                    <img src="{{item.product.hall_image.url}}" height="100px" alt="img">
                                                </td>
                                                <td>Rs: {{item.product.name}}</td>
                                                <td>{{item.product.dis_price}}</td>
                                                
                                            </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                                <h4 class="border p-1">Order Status :<span class="float-end"> {{ order.status }}</span></h4>
                                <h4 class="border p-1" >Grand Total : <span class="float-end"> RS. {{ order.total_price | stringformat:'d' }}</span></h4>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    
</section>
{% endblock content %}